$main-color: #434e74;
$second-color: #889bd3;
$third-color: #bedfff;

#ny-title {
  background-color: $main-color;
  color: $second-color;
  border-top: 1px solid $second-color;
  border-bottom: 1px solid $second-color;
}

#ny-container {
  width: 100%;

  #ny-img {
    width: 100%;
    height: 600px;
    background-image: url('../images/newyork.jpeg');
    background-size: cover;
  }

  p {
    background-color: $main-color;
    color: $second-color;
  }
}
